.myImg, .hotelImg{
    margin: 0px, 8px, 12px, 0px;
}

p {
    margin: 12px, 0px, 0px, 0px;
    padding: 8px, 0px;
}

a:hover{
    background-color: red;
}

.texts{
    text-align: center;
    font-size: 20px;
}
